<div class="row">
  <%=image_tag Product.find_by_name('header_image').image_url %>
</div>
<div class='row'>
  <div class='col-md-8 col-md-offset-4'>
     <div id='barcode-scanner'></div>
  </div>
    <h2 class="text-center">Scan your barcode here</h2>
</div>

