<div class="row">
  <div class="col-md-6"  >
  <br/>
  <%= image_tag @product.image_url(:thumb)%>
  </div>
  <div class="col-md-6">
<%= sanitize @product.name %>
<h4 class="text-left">  <%= sanitize @product.description%></h4>

  
  </div>
</div>
<!-- <div id="counter"></div> -->
